<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   <!-- Welcome to {{title}}!-->
  </h1>
</div>
<div class="">
  <button id="glogin">Start</button>
  <!--(click)="start()"-->
  <button (click)="getlistFiles()">user</button>
</div>

<div id="drive-box" class="clearfix"><!--class="hide"-->

  <div id="drive-breadcrumb">
    <span class='breadcrumb-arrow'></span> <a data-id='root' data-level='0'>Home</a>
    <span id="span-navigation"></span>
  </div>

  <div id="drive-info">
    <div class="user-item">Welcome  <span id="span-name"></span></div><!--{{driveInfo.name}}--><!--span-name-->
    <div class="user-item">Total Quota: <span id="span-totalQuota"></span></div>
    <div class="user-item">Used Quota: <span id="span-usedQuota"></span></div>
    <!--<div class="user-item">Share Mode: <span id="span-sharemode">OFF</span></div>-->
    <div class="user-item"><a id="link-logout" class="logout-link" href="https://accounts.google.com/logout">Logout</a></div>
  </div>


  <div id="drive-menu">
    <div id="button-reload" title="Refresh"></div>
    <div id="button-upload" title="Upload to Google Drive" class="button-opt"></div>
    <div id="button-addfolder" title="Add Folder" class="button-opt"></div>
    <div id="button-share" title="Show shared files only"></div>
  </div>
  <div class="myLabel">
    <input type="file" class="hide_file" (change)="onChange($event)"/>
    <span>Upload</span>
  </div>
  <!--<div>
    <input type="file" id="flup" (change)="getFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
  </div>-->

<!--  <div>
    <input type="file"  class="hide_file upload-file" name="profile" accept="image/*" data-max-size="1000000"  (change)="onChange($event)"/>&lt;!&ndash;accept=".xls"&ndash;&gt;&lt;!&ndash;[(ngModel)]="groupFile" (change)="onChange($event)"&ndash;&gt;
    <input type="image" class="hide_file  upload-file" accept="image/*" src="../assets/img/button_upload.png" (change)="onChange($event)"/>
  </div>-->


  <div id="drive-content">
    <div class="file-box" *ngFor="let driveFiles of allFilesData">
      <div class="file-icon">
        <div class="image-preview">
          <img src="{{driveFiles.iconLink}}"/>
        </div>
      </div>
      <div class="item-title">{{driveFiles.title}}</div>
      <div class="button-box">
        <a class="button-download" [href]="driveFiles.webContentLink" data-id="{{driveFiles.id}}" ></a><!--(click)="downloadFile(driveFiles.webContentLink)"-->
        <div class="button-info" id="clickModel" (click)="individualFile(driveFiles)"></div>
        <div class="button-delete"></div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" role="dialog"  >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" *ngIf="enableModel === true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details For : {{singleFiles.title}}</h4><!---->
      </div>
      <div class="modal-body">
        <div class="Owner col-lg-12 col-md-12 col-sm-12 col-xs-12 firstModel">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label>Owner</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{singleFiles['owners'][0]['displayName']}}
          </div>
        </div>
        <div class="Owner col-lg-12 col-md-12 col-sm-12 col-xs-12 otherModel">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label>Last Modified Date</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{singleFiles.lastViewedByMeDate}}
          </div>
        </div>
        <div class="Owner col-lg-12 col-md-12 col-sm-12 col-xs-12 otherModel">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label>File Created Date</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{singleFiles.createdDate}}
          </div>
        </div>
        <div class="Owner col-lg-12 col-md-12 col-sm-12 col-xs-12 otherModel">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label>File Size</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{singleFiles.fileSize / 1024}} KB
          </div>
        </div>
        <div class="Owner col-lg-12 col-md-12 col-sm-12 col-xs-12 otherModel">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label>Extension</label>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{singleFiles.fileExtension}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
